@font-face {
    font-family: 'font7ca193358a8f826917a012c7bad68b7f';

    src: url('https://nomail.com.ua/files/eot/7ca193358a8f826917a012c7bad68b7f.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/7ca193358a8f826917a012c7bad68b7f.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/7ca193358a8f826917a012c7bad68b7f.woff2') format('woff2');
}

@font-face {
    font-family: 'Parangon530C';
    src: local('Parangon530C'), url('https://nomail.com.ua/files/woff/7ca193358a8f826917a012c7bad68b7f.woff') format('woff');
}

@font-face {
    font-family: 'font6fb3a1657579184d7d5a3c0d02be46c8';

    src: url('https://nomail.com.ua/files/eot/6fb3a1657579184d7d5a3c0d02be46c8.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/6fb3a1657579184d7d5a3c0d02be46c8.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/6fb3a1657579184d7d5a3c0d02be46c8.woff2') format('woff2');
}

@font-face {
    font-family: 'UniSansHeavyCaps';
    src: local('UniSansHeavyCaps'), url('https://nomail.com.ua/files/woff/6fb3a1657579184d7d5a3c0d02be46c8.woff') format('woff');
}

@font-face {
    font-family: 'fontb3182e9ba6d3bc59be42c5f6040c2b21';

    src: url('https://nomail.com.ua/files/eot/b3182e9ba6d3bc59be42c5f6040c2b21.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/b3182e9ba6d3bc59be42c5f6040c2b21.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/b3182e9ba6d3bc59be42c5f6040c2b21.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo2-SemiBold';
    src: local('Exo2-SemiBold'), url('https://nomail.com.ua/files/woff/b3182e9ba6d3bc59be42c5f6040c2b21.woff') format('woff');
}

@font-face {
    font-family: 'font7509ab665b2c6360611f851fad6afd48';

    src: url('https://nomail.com.ua/files/eot/7509ab665b2c6360611f851fad6afd48.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/7509ab665b2c6360611f851fad6afd48.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/7509ab665b2c6360611f851fad6afd48.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaBT-Bold';
    src: local('FuturaBT-Bold'), url('https://nomail.com.ua/files/woff/7509ab665b2c6360611f851fad6afd48.woff') format('woff');
}

@font-face {
    font-family: 'fontdd4392e46da08ffb5d099ad7532b24f9';

    src: url('https://nomail.com.ua/files/eot/dd4392e46da08ffb5d099ad7532b24f9.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/dd4392e46da08ffb5d099ad7532b24f9.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/dd4392e46da08ffb5d099ad7532b24f9.woff2') format('woff2');
}

@font-face {
    font-family: 'PTSans';
    src: local('PTSans-Regular'), url('https://nomail.com.ua/files/woff/dd4392e46da08ffb5d099ad7532b24f9.woff') format('woff');
}